h1 {
    text-align: center;
}
#mail {
    margin-left: 65px;
    width: 250px;
}
#password{
    margin-left: 20px;
    width: 250px;
}
span {
    color: red;
}
.bouton {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.intro {
    text-align: center;
}

body {
    background: url("./images/clouds-1282314_1920.jpg");
}
